body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #FFCCAA;
}

hr {
    margin: 20px auto;
    color: #FFFFF8;
    border: 2px solid #FFFFF8;
    border-radius: 2px;
    max-width: 65px;
    opacity: 1;  
}

.buffer {
  height: 10rem;
}

.btn {
  font-weight: 700;
  border-radius: 10px;
}

.btn-light {
  background-color: #FFFFF8;
  border-color: #FFFFF8;
}

.btn-light:hover {
  color: #FFFFF8;
  background-color: black;
  border-color: black;
  border-width: 3px;
}

.btn-extra {
  padding: 1rem 2rem;
}